@media screen and (max-width:913px) {
    .escrita h1 {
        font-size: 35px;
    }
}

@media screen and (max-width:759px) {
    .escrita h1 {
        font-size: 30px;
    }
}

@media (max-width:600px) {
    main {
        flex-direction: column;
    }

    .escrita h1 {
        text-align: center;
        font-size: 33px;
    }

    .escrita br {
        display: none;
    }

    .escrita img {
        width: 130px;
    }
}

@media (max-width:360px) {
    .escrita img {
        margin-top: 100px;
        width: 130px;
    }

    .outrosLogin {
        flex-direction: column;
    }
}


@media (max-width:320px) {
    .escrita img {
        margin-top: 110px;
        width: 130px;
    }

    input {
        margin-left: 5%;
    }

    #EsqueciSenha {
        margin-left: 7%;
    }
}